<%- include("header.ejs", {title: title }) %>
<style>
  p {font-size: 1.1em;} 
</style>
<nav>
  <a href="/" class="btn btn-light" style="background-color: #505160; color: white;">Home</a>
</nav>
<br>
  </head>
    <body style="background-color: #598234;">
      <header><h1>Actor Form</h1></header>

      <% if(locals.errors) {   //Check to see if there is an errors variable %>
        <div class="alert alert-danger">
          <ul class="mb-0">
            <% errors.forEach(function(error) { %>
              <li style="color: black;"><%= error %></li>
            <% }); %>
          </ul>
        </div>
      <% } %>



        <!-- // image: { type: ???}, -->
        
        <form style="background-color: #598234; color: rgb(228, 255, 110);" method="POST" action="/actors/update/<%- actor._id %>">
          <input type="hidden" name="id" value="<%- actor._id %>" >
        
          <div class="mb-3">
            <label for="name" class="form-label">Name <em>(Required)</em></label>
            <input type="text" class="form-control" name="name" id="name"
              value="<%- actor.name %>" required>
          </div>
        
          <div class="mb-3">
            <label for="born" class="form-label">Born<em> (Required)</em></label>
            <input type="date" class="form-control" name="born" id="born"
            value="<%- actor.born === undefined ? actor.born : actor.born %>" required>
          </div>
        
          <div class="mb-3">
            <label for="height" class="form-label">Height (by feet)</label>
            <input type="number" class="form-control" name="height" id="height"
              value="<%- actor.height %>" >
          </div>
        
          <div class="mb-3">
            <label for="twitter" class="form-label">Twitter account name</label>
            <input type="text" class="form-control" name="twitter" id="twitter"
              value="<%- actor.twitter %>" >
          </div>
          
          <div class="mb-3 ">
            <label for="movies">Movies - use Control-Click to MultiSelect</label>
            <select class="form-select" id="movies" name="movies" size="8" multiple>  
              <% for(let m of movies) { %>
                <option value="<%- m._id %>" <%- actor.movies.includes(m._id) ? "selected" : "" %>><%- m.title _%></option>
            <% } %>
            </select>
          </div>    

          <br>
          <button class="btn btn-primary my-3" type="submit">Submit</button>
      </form>

      <footer style="background-color: #aebd38;">
        <p>Page by JMM</p>
        <p> &copy <time datetime="2021-4-26">April 2021</time> <br /> BoxOffice.com </p>
      </footer>
    </body>
  </html>


